# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
01-pizza-menu/node_modules
02-steps/node_modules
03-travel-list/node_modules
04-eat-split/node_modules
05-use-popcorn/node_modules
06-behind-the-scenes/node_modules
07-classy-weather/node_modules
08-react-quiz/node_modules
09-world-wise/node_modules
10-atomic-blog/node_modules
11-workout-timer/node_modules


/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
